.MuiPickersDay-root.Mui-selected {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.MuiPickersArrowSwitcher-spacer {
    width: 5px;
}

.MuiPickersArrowSwitcher-button svg {
    fill: var(--color-primary);
}
