.p-0{
    padding: 0 !important;
}

.p-t-8 {
    padding-top: 8px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-t-12 {
    padding-top: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-l-10 {
    padding-right: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-b-20 {
    margin-bottom: 20px !important;
}
.m-t-14{
    margin-top: 14px ;
}
.m-l-10{
    margin-left: 10px !important;
}
.m-l-14{
    margin-left: 14px ;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-auto {
    margin: auto;
}

.m-b-10 {
    margin-bottom: 10px;
}
.m-b-18 {
    margin-bottom: 18px;
}

.margin-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.m-t-40 {
    margin-top: 40px;
}

.p-10 {
    padding: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}
